app-search {
    width: 100%;
  }
  
  header {
    padding: 1rem;
    color: #3d4245;
    letter-spacing: 1.8px;
  
    .title {
      font-size: 1.5rem;
      padding-bottom: 1rem;
    }
  
    .sub-title {
      font-size: 1rem;
    }
  }

  .header-content {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header-content img {
    width: 250px; /* Ajusta el tamaño de la imagen según tus preferencias */
    height: auto;
    margin-right: 20px;
}

.header-text {
    display: flex;
    flex-direction: column;
}

.title, .sub-title {
    margin: 0;
}